@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");

* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

.shadow {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
	background-color: rgba(0, 0, 0, 0.7);
}

.pagina {
	color: #fff;
	font-family: "Open Sans", Helvetica, sans-serif;
	z-index: 4;
	font-size: 15pt;
	font-weight: 400;
	letter-spacing: 0.075em;
	line-height: 1.65em;
}
	.pagina a {
		text-decoration: none;
		cursor: pointer;
	}

	.pagina p {
		margin: 0 0 2em 0;
	}

	.pagina h2 {
		color: #fff;
		font-weight: 800;
		letter-spacing: 0.225em;
		line-height: 1em;
		margin: 0 0 1em 0;
		text-transform: uppercase;
		font-size: 1.35em;
		line-height: 1.75em;
	}

/* FORMULARIO DE ACCESO */

.access {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	right: 329px;
	transform: translate(-50%, -50%);
	z-index: 20;
	margin: auto;
    color: #6a6f8c;
    max-width: 525px;
	height: 700px;
	background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	background-size: cover;
	font: 600 16px/18px 'Open Sans', sans-serif;
}

	.access :after,
	.access :before {
		box-sizing: border-box
	}

	.access .clearfix:after,
	.access .clearfix:before {
		content: '';
		display: table
	}

	.access .clearfix:after {
		clear: both;
		display: block
	}

	.acccess .login-wrap {
		margin: auto;
		position: relative;
		background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
		background-size: cover;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
	}

		.access .login-wrap a {
			color: inherit;
			text-decoration: none
		}

	.access .login-html {
		width: 100%;
		left: -1px;
		max-width: 386px;
		height: 560px;
		position: absolute;
		padding: 55px 70px 85px 70px;
		background: rgba(22, 30, 52, 0.9);
	}

		.access .login-html .sign-in-htm,
		.access .login-html .sign-up-htm {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			position: absolute;
			transform: rotateY(180deg);
			backface-visibility: hidden;
			transition: all .4s linear;
		}

		.access .login-html .sign-in,
		.access .login-html .sign-up,
		.access .login-form .group .check {
			display: none;
		}

		.access .login-html .tab,
		.access .login-form .group .label,
		.access .login-form .group .button {
			text-transform: uppercase;
		}

		.access .login-html .tab {
			font-size: 22px;
			padding-top: 30px;
			padding-bottom: 5px;
			margin: 0 15px 25px 18%;
			display: inline-block;
			cursor: pointer;
			border-bottom: 2px solid transparent;
			text-align: center;
		}

		.access .login-html .sign-in:checked+.tab,
		.access .login-html .sign-up:checked+.tab {
			color: #fff;
			border-color: #1161ee;
		}


	.access .login-form {
		min-height: 345px;
		width: 345px;
		position: relative;
		perspective: 1000px;
		transform-style: preserve-3d;
	}

		.access .login-form .group {
			margin-bottom: 15px;
		}

		.access .login-form .group .label,
		.access .login-form .group .input,
		.access .login-form .group .button {
			width: 100%;
			color: #fff;
			display: block;
		}

		.access .login-form .group .input,
		.access .login-form .group .button {
			border: none;
			padding: 15px 20px;
			border-radius: 25px;
			background: rgba(255, 255, 255, .1);
		}

		.access .login-form .group .input {
			height: 23px;
		}

		.access .login-form .group input[data-type="password"] {
			-webkit-text-security: circle;
			color: #ffffff;
			font-size: 18px;
			letter-spacing: 3px;
		}

		.access .login-form .group .label {
			color: #aaa;
			font-size: 12px;
		}

		.access .login-form .group .button {
			background: #1161ee;
			margin-top: 35px;
			margin-left: 45px;
			margin-bottom: -20px;
			width: 300px;
			cursor: pointer;
		}

		.access .login-form .group label .icon {
			width: 15px;
			height: 15px;
			border-radius: 2px;
			position: relative;
			display: inline-block;
			background: rgba(255, 255, 255, .1);
		}

		.access .login-form .group label .icon:before,
		.access .login-form .group label .icon:after {
			content: '';
			width: 10px;
			height: 2px;
			background: #fff;
			position: absolute;
			transition: all .2s ease-in-out 0s;
		}

		.access .login-form .group label .icon:before {
			left: 3px;
			width: 5px;
			bottom: 6px;
			transform: scale(0) rotate(0);
		}

		.access .login-form .group label .icon:after {
			top: 6px;
			right: 0;
			transform: scale(0) rotate(0);
		}

		.access .login-form .group .check:checked+label {
			color: #fff;
		}

		.access .login-form .group .check:checked+label .icon {
			background: #1161ee;
		}

		.access .login-form .group .check:checked+label .icon:before {
			transform: scale(1) rotate(45deg);
		}

		.access .login-form .group .check:checked+label .icon:after {
			transform: scale(1) rotate(-45deg);
		}

	.access .login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
		transform: rotate(0);
	}

	.access .login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
		transform: rotate(0);
	}

	.access .hr {
		height: 2px;
		margin: 60px 0 35px 35px;
		background: rgba(255, 255, 255, .2);
	}

	.access .foot-lnk {
		padding-left: 40px;
		text-align: center;
	}

/* Button */

		.button.primary {
			border: 0;
			text-decoration: none;
			text-transform: uppercase;
			height: 3.125em;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 0.8em;
			font-weight: 600;
			letter-spacing: 0.225em;
			border-radius: 3px;
			line-height: 3.125em;
			display: inline-block;
			max-width: 30em;
			padding: 0 2em;
			background-color: #ed4933;
			box-shadow: none !important;
			color: #ffffff !important;
			z-index: 50;
		}

			.button.primary:hover {
				background-color: #ef5e4a !important;
			}

			.button.primary:active {
				background-color: #eb341c !important;
			}

		.button:disabled {
			pointer-events: none;
			opacity: 0.25;
		}

		.actions.special {
			list-style: none;
			margin: 0;
			padding: 0;
		  }


/* Header */

		#header nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 0;
			top: 15px;
			z-index: 10;
		}
			#header nav > a {
				border: 0;
				color: #fff;
				display: block;
				font-size: 0.8em;
				letter-spacing: 0.225em;
				padding: 0 1.5em;
				text-transform: uppercase;
			}

/* Banner */

	#banner {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: center;
		justify-content: center;
		cursor: default;
		height: 100vh;
		min-height: 35em;
		overflow: hidden;
		position: relative;
		text-align: center;
	}

		#banner h2 {
			-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
			transition: transform 0.5s ease, opacity 0.5s ease;
			display: inline-block;
			font-size: 1.75em;
			opacity: 1;
			padding: 0.35em 1em;
			position: relative;
			z-index: 1;
		}

			#banner h2:before, #banner h2:after {
				-webkit-transition: width 0.85s ease;
				transition: width 0.85s ease;
				-webkit-transition-delay: 0.25s;
				transition-delay: 0.25s;
				background: #fff;
				content: '';
				display: block;
				height: 2px;
				position: absolute;
				width: 100%;
			}

			#banner h2:before {
				top: 0;
				left: 0;
			}

			#banner h2:after {
				bottom: 0;
				right: 0;
			}

		#banner p {
			letter-spacing: 0.225em;
			text-transform: uppercase;
		}

		#banner:after {
			pointer-events: none;
			-webkit-transition: opacity 3s ease-in-out;
			transition: opacity 3s ease-in-out;
			-webkit-transition-delay: 1.25s;
			transition-delay: 1.25s;
			content: '';
			background: #2e3842;
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
		}


	body.is-preload #banner h2 {
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
		opacity: 0;
	}
		body.is-preload #banner h2:before, body.is-preload #banner h2:after {
			width: 0;
		}

	body.is-preload #banner:after {
		opacity: 1;
	}

/* Landing */

	body.landing #page-wrapper {
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1526488807855-309186804587?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1526488807855-309186804587?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 0;
	}

	body.is-mobile.landing #page-wrapper {
		background: none;
	}

/* Mensajito de error */

pre {
    display: block;
    font-family: monospace;
	text-align: center;
}

.hidden {
	display: none;
}